// Переменные разрешения экрана
$screen-extra-large: 1800px;
$screen-large: 1200px;
$screen-medium: 1024px;
$screen-small: 768px;
$screen-extra-small: 480px;
$screen-extra-e-small: 360px;

// Переменные для документа
$header-background-color: linear-gradient(0deg, rgba(15, 72, 152, 0.6), rgba(15, 72, 152, 0.6));
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;